In [4]:
import pandas as pd
import numpy as np
import time
from PIL import Image

In [5]:
df_pla = pd.read_csv("TFT_Platinum_MatchData.csv") # TFT_Platinum_MatchData.csv
df_dia = pd.read_csv("TFT_Diamond_MatchData.csv") # TFT_Diamond_MatchData.csv
df_ma = pd.read_csv("TFT_Master_MatchData.csv") # TFT_Master_MatchData.csv
df_gma = pd.read_csv("TFT_GrandMaster_MatchData.csv") # TFT_GrandMaster_MatchData.csv
df_chl = pd.read_csv("TFT_Challenger_MatchData.csv") #TFT_Challenger_MatchData.csv
df_cham = pd.read_csv("TFT_Champion_CurrentVersion.csv") #TFT_Champion_CurrentVersion.csv
df_item = pd.read_csv("TFT_Item_CurrentVersion.csv") #TFT_Item_CurrentVersion.csv

In [6]:
display(df_pla.head(3), df_dia.head(3), df_ma.head(3), df_gma.head(3), df_chl.head(3), df_cham.head(3), df_item.head(3))
#df.head(3) #처음 3 줄만 출력하기

,gameId,gameDuration,level,lastRound,Ranked,ingameDuration,combination,champion
0,KR_4291707834,1963.905273,6,27,5,1390.165771,"{'Cybernetic': 1, 'Demolitionist': 1, 'Infiltr...","{'Ziggs': {'items': [7], 'star': 1}, 'Ashe': {..."
1,KR_4291707834,1963.905273,8,37,3,1891.282715,"{'Blaster': 1, 'Chrono': 1, 'Cybernetic': 4, '...","{'Ziggs': {'items': [24], 'star': 3}, 'Fiora':..."
2,KR_4291707834,1963.905273,6,25,7,1279.461060,"{'Blaster': 1, 'Cybernetic': 1, 'DarkStar': 2,...","{'Fiora': {'items': [1], 'star': 1}, 'Shaco': ..."

,gameId,gameDuration,level,lastRound,Ranked,ingameDuration,combination,champion
0,KR_4357546733,2326.065674,8,37,4,2089.551514,"{'DarkStar': 2, 'Protector': 4, 'Rebel': 2, 'S...","{'JarvanIV': {'items': [2, 58], 'star': 3}, 'S..."
1,KR_4357546733,2326.065674,7,26,7,1467.931519,"{'Chrono': 1, 'Cybernetic': 1, 'Infiltrator': ...","{'Malphite': {'items': [], 'star': 3}, 'KhaZix..."
2,KR_4357546733,2326.065674,7,26,8,1464.743164,"{'DarkStar': 1, 'Protector': 1, 'Set3_Mystic':...","{'Poppy': {'items': [25, 27], 'star': 3}, 'Zoe..."

,gameId,gameDuration,level,lastRound,Ranked,ingameDuration,combination,champion
0,KR_4242528808,2233.449951,8,37,1,2225.243408,"{'DarkStar': 2, 'Protector': 4, 'Rebel': 1, 'S...","{'JarvanIV': {'items': [12], 'star': 3}, 'Sona..."
1,KR_4242528808,2233.449951,9,37,2,2225.243408,"{'Blaster': 2, 'Chrono': 1, 'Cybernetic': 1, '...","{'Malphite': {'items': [], 'star': 2}, 'Blitzc..."
2,KR_4242528808,2233.449951,8,35,3,2138.763428,"{'Blaster': 3, 'Chrono': 2, 'Cybernetic': 1, '...","{'Malphite': {'items': [], 'star': 2}, 'Blitzc..."

,gameId,gameDuration,level,lastRound,Ranked,ingameDuration,combination,champion
0,KR_4254769102,2319.661377,9,38,1,2311.472168,"{'Blaster': 4, 'Chrono': 2, 'Cybernetic': 2, '...","{'Malphite': {'items': [], 'star': 2}, 'Blitzc..."
1,KR_4254769102,2319.661377,9,38,2,2311.472168,"{'Blaster': 2, 'Chrono': 2, 'Cybernetic': 6, '...","{'Fiora': {'items': [], 'star': 2}, 'Leona': {..."
2,KR_4254769102,2319.661377,9,37,3,2247.994873,"{'DarkStar': 2, 'Protector': 4, 'Rebel': 1, 'S...","{'JarvanIV': {'items': [], 'star': 3}, 'Sona':..."

,gameId,gameDuration,level,lastRound,Ranked,ingameDuration,combination,champion
0,KR_4247538593,2142.470703,8,35,1,2134.272217,"{'DarkStar': 2, 'Protector': 4, 'Rebel': 1, 'S...","{'JarvanIV': {'items': [27], 'star': 3}, 'Sona..."
1,KR_4247538593,2142.470703,9,35,2,2134.272217,"{'Blaster': 2, 'Mercenary': 1, 'Rebel': 6, 'Se...","{'Malphite': {'items': [7], 'star': 2}, 'Yasuo..."
2,KR_4247538593,2142.470703,8,34,3,2073.459229,"{'Cybernetic': 1, 'DarkStar': 3, 'Demolitionis...","{'KaiSa': {'items': [99, 2, 23], 'star': 2}, '..."

,name,cost,health,defense,attack,attack_range,speed_of_attack,dps,skill_name,skill_cost,origin,class
0,gangplank,5,1000,30,60,1,1.00,60,gangplank_orbitalstrike,100/175,Space Pirate,"['Mercenary', 'Demolitionist']"
1,graves,1,650,35,55,1,0.55,30,graves_smokegrenade,50/80,Space Pirate,['Blaster']
2,neeko,3,800,35,50,2,0.65,33,neeko_popblossom,75/150,Star Guardian,['Protector']

   id                  name
0   1            B.F. Sword
1   2           Recurve Bow
2   3  Needlessly Large Rod

In [7]:
"테이블 열과 행 갯수", "platinum", df_pla.shape,"dia", df_dia.shape, "master", df_ma.shape, "grandmaster", df_gma.shape, "challenger", df_chl.shape, "champion", df_cham.shape, "item", df_item.shape

('테이블 열과 행 갯수',
 'platinum',
 (80000, 8),
 'dia',
 (80000, 8),
 'master',
 (79999, 8),
 'grandmaster',
 (80000, 8),
 'challenger',
 (79999, 8),
 'champion',
 (52, 12),
 'item',
 (54, 2))

In [8]:
"테이블 컬럼 타입", "platinum", df_pla.dtypes,"dia", df_dia.dtypes, "master", df_ma.dtypes, "grandmaster", df_gma.dtypes, "challenger", df_chl.dtypes, "champion", df_cham.dtypes, "item", df_item.dtypes

('테이블 컬럼 타입',
 'platinum',
 gameId             object
 gameDuration      float64
 level               int64
 lastRound           int64
 Ranked              int64
 ingameDuration    float64
 combination        object
 champion           object
 dtype: object,
 'dia',
 gameId             object
 gameDuration      float64
 level               int64
 lastRound           int64
 Ranked              int64
 ingameDuration    float64
 combination        object
 champion           object
 dtype: object,
 'master',
 gameId             object
 gameDuration      float64
 level               int64
 lastRound           int64
 Ranked              int64
 ingameDuration    float64
 combination        object
 champion           object
 dtype: object,
 'grandmaster',
 gameId             object
 gameDuration      float64
 level               int64
 lastRound           int64
 Ranked              int64
 ingameDuration    float64
 combination        object
 champion           object
 dtype: object,
 'challenger',
 gameId             object
 gameDuration      float64
 level               int64
 lastRound           int64
 Ranked              int64
 ingameDuration    float64
 combination        object
 champion           object
 dtype: object,
 'champion',
 name                object
 cost                 int64
 health               int64
 defense              int64
 attack               int64
 attack_range         int64
 speed_of_attack    float64
 dps                  int64
 skill_name          object
 skill_cost          object
 origin              object
 class               object
 dtype: object,
 'item',
 id       int64
 name    object
 dtype: object)

In [9]:
"테이블 컬럼 확인", "platinum", df_pla.columns,"dia", df_dia.columns, "master", df_ma.columns, "grandmaster", df_gma.columns, "challenger", df_chl.columns, "champion", df_cham.columns, "item", df_item.columns

('테이블 컬럼 확인',
 'platinum',
 Index(['gameId', 'gameDuration', 'level', 'lastRound', 'Ranked',
        'ingameDuration', 'combination', 'champion'],
       dtype='object'),
 'dia',
 Index(['gameId', 'gameDuration', 'level', 'lastRound', 'Ranked',
        'ingameDuration', 'combination', 'champion'],
       dtype='object'),
 'master',
 Index(['gameId', 'gameDuration', 'level', 'lastRound', 'Ranked',
        'ingameDuration', 'combination', 'champion'],
       dtype='object'),
 'grandmaster',
 Index(['gameId', 'gameDuration', 'level', 'lastRound', 'Ranked',
        'ingameDuration', 'combination', 'champion'],
       dtype='object'),
 'challenger',
 Index(['gameId', 'gameDuration', 'level', 'lastRound', 'Ranked',
        'ingameDuration', 'combination', 'champion'],
       dtype='object'),
 'champion',
 Index(['name', 'cost', 'health', 'defense', 'attack', 'attack_range',
        'speed_of_attack', 'dps', 'skill_name', 'skill_cost', 'origin',
        'class'],
       dtype='object'),
 'item',
 Index(['id', 'name'], dtype='object'))

In [10]:
# 테이블 기본 구조.info()
df_pla.info(),df_dia.info(), df_ma.info(), df_gma.info(), df_chl.info(), df_cham.info(), df_item.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80000 entries, 0 to 79999
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   gameId          80000 non-null  object
 1   gameDuration    80000 non-null  float64
 2   level           80000 non-null  int64
 3   lastRound       80000 non-null  int64
 4   Ranked          80000 non-null  int64
 5   ingameDuration  80000 non-null  float64
 6   combination     80000 non-null  object
 7   champion        80000 non-null  object
dtypes: float64(2), int64(3), object(3)
memory usage: 4.9+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80000 entries, 0 to 79999
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   gameId          80000 non-null  object
 1   gameDuration    80000 non-null  float64
 2   level           80000 non-null  int64
 3   lastRound       80000 non-null  int64
 4   Ranked          80000 non-null  int64
 5   ingameDuration  80000 non-null  float64
 6   combination     80000 non-null  object
 7   champion        80000 non-null  object
dtypes: float64(2), int64(3), object(3)
memory usage: 4.9+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79999 entries, 0 to 79998
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   gameId          79999 non-null  object
 1   gameDuration    79999 non-null  float64
 2   level           79999 non-null  int64
 3   lastRound       79999 non-null  int64
 4   Ranked          79999 non-null  int64
 5   ingameDuration  79999 non-null  float64
 6   combination     79999 non-null  object
 7   champion        79999 non-null  object
dtypes: float64(2), int64(3), object(3)
memory usage: 4.9+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80000 entries, 0 to 79999
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   gameId          80000 non-null  object
 1   gameDuration    80000 non-null  float64
 2   level           80000 non-null  int64
 3   lastRound       80000 non-null  int64
 4   Ranked          80000 non-null  int64
 5   ingameDuration  80000 non-null  float64
 6   combination     80000 non-null  object
 7   champion        80000 non-null  object
dtypes: float64(2), int64(3), object(3)
memory usage: 4.9+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79999 entries, 0 to 79998
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   gameId          79999 non-null  object
 1   gameDuration    79999 non-null  float64
 2   level           79999 non-null  int64
 3   lastRound       79999 non-null  int64
 4   Ranked          79999 non-null  int64
 5   ingameDuration  79999 non-null  float64
 6   combination     79999 non-null  object
 7   champion        79999 non-null  object
dtypes: float64(2), int64(3), object(3)
memory usage: 4.9+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             52 non-null     object
 1   cost             52 non-null     int64
 2   health           52 non-null     int64
 3   defense          52 non-null     int64
 4   attack           52 non-null     int64
 5   attack_range     52 non-null     int64
 6   speed_of_attack  52 non-null     float64
 7   dps              52 non-null     int64
 8   skill_name       52 non-null     object
 9   skill_cost       52 non-null     object
 10  origin           52 non-null     object
 11  class            52 non-null     object
dtypes: float64(1), int64(6), object(5)
memory usage: 5.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      54 non-null     int64
 1   name    54 non-null     object
dtypes: int64(1), object(1)
memory usage: 996.0+ bytes

(None, None, None, None, None, None, None)

In [11]:
df_pla.describe()

       gameDuration         level     lastRound        Ranked  ingameDuration
count  80000.000000  80000.000000  80000.000000  80000.000000    80000.000000
mean    2168.427079      7.785637     33.193112      4.496375     1881.922944
std      156.294695      0.828188      4.878634      2.294254      279.213257
min        0.000000      1.000000      0.000000      0.000000        0.000000
25%     2073.243225      7.000000     30.000000      2.000000     1705.082611
50%     2164.299072      8.000000     34.000000      4.000000     1903.187744
75%     2261.792358      8.000000     37.000000      6.000000     2076.401306
max     2714.283691      9.000000     48.000000      8.000000     2706.018555

In [12]:
# 데이터 결측치 조회 - 0건
df_dia.isnull().sum()

gameId            0
gameDuration      0
level             0
lastRound         0
Ranked            0
ingameDuration    0
combination       0
champion          0
dtype: int64

In [13]:
#티어 구분해주는 파생변수 추가 - 티어 컬럼
df_pla['tier'] = 'Platinum'
df_dia['tier'] = 'Diamond'
df_ma['tier'] = 'Master'
df_gma['tier'] = 'Grandmaster'
df_chl['tier'] = 'Challenger'

In [14]:
#데이터 수직 결합 concat
df_tier = pd.concat([df_pla, df_dia, df_ma, df_gma, df_chl], axis=0, ignore_index=True, join='inner')

In [15]:
df_tier

,gameId,gameDuration,level,lastRound,Ranked,ingameDuration,combination,champion,tier
0,KR_4291707834,1963.905273,6,27,5,1390.165771,"{'Cybernetic': 1, 'Demolitionist': 1, 'Infiltr...","{'Ziggs': {'items': [7], 'star': 1}, 'Ashe': {...",Platinum
1,KR_4291707834,1963.905273,8,37,3,1891.282715,"{'Blaster': 1, 'Chrono': 1, 'Cybernetic': 4, '...","{'Ziggs': {'items': [24], 'star': 3}, 'Fiora':...",Platinum
2,KR_4291707834,1963.905273,6,25,7,1279.461060,"{'Blaster': 1, 'Cybernetic': 1, 'DarkStar': 2,...","{'Fiora': {'items': [1], 'star': 1}, 'Shaco': ...",Platinum
3,KR_4291707834,1963.905273,7,38,2,1955.608521,"{'DarkStar': 1, 'Protector': 2, 'Set3_Blademas...","{'Poppy': {'items': [], 'star': 2}, 'Xayah': {...",Platinum
4,KR_4291707834,1963.905273,8,38,1,1955.608521,"{'Blaster': 1, 'Chrono': 5, 'DarkStar': 3, 'Pr...","{'TwistedFate': {'items': [36, 27], 'star': 3}...",Platinum
...,...,...,...,...,...,...,...,...,...
399993,KR_4357265434,2094.518555,7,33,4,1838.332764,"{'DarkStar': 2, 'Demolitionist': 2, 'Infiltrat...","{'KhaZix': {'items': [67, 26, 56], 'star': 2},...",Challenger
399994,KR_4357265434,2094.518555,8,33,5,1837.548096,"{'Blaster': 1, 'Chrono': 2, 'Cybernetic': 6, '...","{'Fiora': {'items': [35], 'star': 2}, 'Leona':...",Challenger
399995,KR_4357265434,2094.518555,9,33,6,1833.472046,"{'Chrono': 2, 'Cybernetic': 1, 'Demolitionist'...","{'TwistedFate': {'items': [], 'star': 2}, 'Mal...",Challenger
399996,KR_4357265434,2094.518555,8,31,7,1730.829712,"{'Blaster': 4, 'Chrono': 2, 'Cybernetic': 1, '...","{'Malphite': {'items': [], 'star': 1}, 'Graves...",Challenger
399997,KR_4357265434,2094.518555,6,27,8,1480.288086,"{'ManaReaver': 2, 'Protector': 2, 'Set3_Celest...","{'Darius': {'items': [14, 33, 36], 'star': 2},...",Challenger

In [17]:
#이상치 1 게임 아이디 체크
gameId_count = df_tier.groupby('gameId')['gameId'].count()
gameId_count

gameId
KR_3890408252    8
KR_3891371111    8
KR_3891442705    8
KR_3891808329    8
KR_3965402291    8
                ..
KR_4402761495    8
KR_4402771106    8
KR_4402800301    8
KR_4402801838    8
KR_4402801990    8
Name: gameId, Length: 49981, dtype: int64

In [19]:
abnormal_games = gameId_count[gameId_count != 8]
print("정상 게임 수:", gameId_count[gameId_count == 8].count())
print("비정상 게임 수:", abnormal_games.count())

정상 게임 수: 49960
비정상 게임 수: 21

In [20]:
df_tier.describe()

,gameDuration,level,lastRound,Ranked,ingameDuration
count,399998.000000,399998.000000,399998.000000,399998.000000,399998.000000
mean,2158.849411,7.854157,33.526310,4.499067,1878.570623
std,143.213755,0.783634,4.806737,2.292066,269.221503
min,0.000000,1.000000,0.000000,0.000000,0.000000
25%,2066.230042,7.000000,30.000000,2.000000,1705.843018
50%,2153.773193,8.000000,34.000000,4.000000,1900.351257
75%,2247.653870,8.000000,37.000000,6.000000,2066.977966
max,2775.935547,9.000000,51.000000,8.000000,2767.582275

In [23]:
print(abnormal_games.value_counts()) #중복이 19건 / 7 인 경우(누락) 2건

gameId
16    19
7      2
Name: count, dtype: int64

In [24]:
df_tier.drop_duplicates()

,gameId,gameDuration,level,lastRound,Ranked,ingameDuration,combination,champion,tier
0,KR_4291707834,1963.905273,6,27,5,1390.165771,"{'Cybernetic': 1, 'Demolitionist': 1, 'Infiltr...","{'Ziggs': {'items': [7], 'star': 1}, 'Ashe': {...",Platinum
1,KR_4291707834,1963.905273,8,37,3,1891.282715,"{'Blaster': 1, 'Chrono': 1, 'Cybernetic': 4, '...","{'Ziggs': {'items': [24], 'star': 3}, 'Fiora':...",Platinum
2,KR_4291707834,1963.905273,6,25,7,1279.461060,"{'Blaster': 1, 'Cybernetic': 1, 'DarkStar': 2,...","{'Fiora': {'items': [1], 'star': 1}, 'Shaco': ...",Platinum
3,KR_4291707834,1963.905273,7,38,2,1955.608521,"{'DarkStar': 1, 'Protector': 2, 'Set3_Blademas...","{'Poppy': {'items': [], 'star': 2}, 'Xayah': {...",Platinum
4,KR_4291707834,1963.905273,8,38,1,1955.608521,"{'Blaster': 1, 'Chrono': 5, 'DarkStar': 3, 'Pr...","{'TwistedFate': {'items': [36, 27], 'star': 3}...",Platinum
...,...,...,...,...,...,...,...,...,...
399993,KR_4357265434,2094.518555,7,33,4,1838.332764,"{'DarkStar': 2, 'Demolitionist': 2, 'Infiltrat...","{'KhaZix': {'items': [67, 26, 56], 'star': 2},...",Challenger
399994,KR_4357265434,2094.518555,8,33,5,1837.548096,"{'Blaster': 1, 'Chrono': 2, 'Cybernetic': 6, '...","{'Fiora': {'items': [35], 'star': 2}, 'Leona':...",Challenger
399995,KR_4357265434,2094.518555,9,33,6,1833.472046,"{'Chrono': 2, 'Cybernetic': 1, 'Demolitionist'...","{'TwistedFate': {'items': [], 'star': 2}, 'Mal...",Challenger
399996,KR_4357265434,2094.518555,8,31,7,1730.829712,"{'Blaster': 4, 'Chrono': 2, 'Cybernetic': 1, '...","{'Malphite': {'items': [], 'star': 1}, 'Graves...",Challenger
399997,KR_4357265434,2094.518555,6,27,8,1480.288086,"{'ManaReaver': 2, 'Protector': 2, 'Set3_Celest...","{'Darius': {'items': [14, 33, 36], 'star': 2},...",Challenger

In [ ]:
# - 한 게임 당 8명인데, 8명이 아닌 데이터를 조회 / 그러면 게임 아이디가 8개씩 있어야 함 / 8명이 아닌 게임 아이디 어떻게 처리할지 (gameid count)
# - 게임 시간이 비이상적인 경우 / 0분 짜리거나 긴 경우, 음수인경우 조건 세우고 처리
# - 순위가 1-8 에 없는 경우 0 이나 9이상